body {
    font-family: Arial, sans-serif;
    background-color: #FFFBF3;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: #111111;
    font-family: 'Gambetta', serif;
}
p, a {
    color: #111111;
    font-family: 'Supreme', sans-serif;
}
#location {
    margin: 1rem;
    display: flex;
}
#location img {
    width: 10%;
    height: auto;
    object-fit: contain;
    margin-right: 1rem;
}
.details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#details-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}
#details-left h2 {
    font-size: 1.7rem;
    font-family: 'Gambetta', serif;
    font-weight: 800;
    margin: 1rem;
    padding: 0;
}
#details-left #date-time {
    text-align: left;
    width: 100%;
}
#details-left #date-time p {
    margin: 1rem;
}
#details-right {
    display: inline-block;
    width: 60%;
    height: 100%;
}   
#details-right img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.RSVP-amount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}

#rsvpCount {
    width: 80%;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    padding-right: 20%;
    text-align: right;
}

.number-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 0.2rem;
}

.number-input button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    background-image: url('./images/logo\ w\ font.png');
}

.number-input {
    margin: 1rem;
}
#join-button {
    background-color: #7DD856;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border-radius: 0.2rem;
    width: 60%;
    height: 4.9rem;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    margin: 0 auto; /* Centers the button horizontally */
    display: flex; /* Enables flexbox for centering content */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

#join-button h3 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: 'Supreme', sans-serif;
    font-weight: 800;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    background-color: #F7E8D3;
    padding: 1rem;
}

.header img {
    width: 30%;
}

#dietary {
    margin: 1rem;
}
#dietary #dietaryPreferences {
    width: 100%;
    border: none;
    font-size: 1rem;
    background-color: white;
    border: solid 1px black;
    text-align: left;
    height: 2rem;
}
#customDietary {
    width: 100%;
    border: none;
    font-size: 1rem;
    background-color: white;
    border: solid 1px black;
    text-align: left;
    height: 2rem;
}

#rsvp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 0rem;
    background-color: antiquewhite;
}

@media only screen and (max-width: 500px) {
    .details {
        flex-direction: column;
    }
    #details-left {
        width: 100%;
    }
    #details-right {
        width: 100%;
    }
    .header img {
        width: 100%;
    }
    .header h1 {
        display: none;
    }
    .header {
        padding: 0;
    }
    #join-button {
        width: 90%;
        height: 4rem;
    }
    
}